/minecraft/saves
/minecraft/screenshots
/minecraft/crash-reports
/minecraft/logs
/minecraft/backups
/minecraft/recruits
/minecraft/music_sheets
/minecraft/dragon-survival/saved_customization.json
.packignore
instance.cfg
instance.cfg
